# This is Git's per-user configuration file.
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = {{ .signingkey | quote }}
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
[core]
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[http]
	version = HTTP/2
	postBuffer = 524288000
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[credential "https://github.com"]
	helper =
	username = {{ .name }}
{{- if eq .chezmoi.os "darwin" }}
	helper = !/opt/homebrew/bin/gh auth git-credential
{{- else }}
	helper = !/usr/bin/gh auth git-credential
{{- end }}
[credential "https://gist.github.com"]
	helper =
{{- if eq .chezmoi.os "darwin" }}
	helper = !/opt/homebrew/bin/gh auth git-credential
{{- else }}
	helper = !/usr/bin/gh auth git-credential
{{- end }}
[credential "https://huggingface.co"]
	provider = generic
[credential "https://codeberg.org"]
	provider = generic
[credential]
	helper =
{{- if eq .chezmoi.os "darwin" }}
	helper = /usr/local/share/gcm-core/git-credential-manager
{{- else }}
	helper = /usr/bin/git-credential-manager
{{- end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
