#!/bin/bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
{{   if .packages.darwin.brews -}}
brew install {{ range .packages.darwin.brews }}{{ . | quote }} {{ end }}
{{   end -}}
{{   if .packages.darwin.casks -}}
brew install --cask {{ range .packages.darwin.casks }}{{ . | quote }} {{ end }}
{{   end -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{   if .packages.ubuntu.apt -}}
sudo apt update
sudo apt install -y {{ range .packages.ubuntu.apt }}{{ . | quote }} {{ end }}
{{   end -}}
{{ end -}}
